$color-primary: #6e3e59;
$color-primary2: #c9b4c0;
$color-secondary: #3e4b6b;
$color-cyan: #637092;
$color-secondary2: #a0a8b1;
$color-secondary3: #d5d5d5;
$color-black: #111111;
$color-black-light: #4d4d4d;
$color-gray: rgba(228, 228, 230, 0.911);
$color-dark: rgb(63, 63, 63);
$color-gray-light: #555;
$color-gray-white: #e7e6e6;
$color-white: #ffffff;
$light: #fafafc;
$dark: #262626;
$width: 690px;
$height: 260px;
$border: 4px;

$violet: #4d4777;
$orange: #774f7c;

$deg: 120deg;
$size: 400%;
$dur: 4s;
